.bg_text p {
    letter-spacing: 25px;
}

@media only screen and (max-width: 1280px) {

.bg_text {
    top: 175px;
}

.bg_text p {
    letter-spacing: 20px;
}

}

@media only screen and (max-width: 770px) {

.bg_text {
    top: 141px;
}

.bg_text p {
    letter-spacing: 14px;
}

}

@media only screen and (max-width: 660px) {

.bg_text {
    top: 180px;
}

}

@media only screen and (max-width: 480px) {

.bg_text p {
    letter-spacing: 5px;
}

}

@media only screen and (max-width: 470px) {

.bg_text {
    top: 170px;
}

}