/*-- Section 1 - Main Page --*/

.promo_sect {
    overflow: visible;
}

.promo {
    padding: 182px 0 186px 0;
}

.promo_descript_usa h1 {
	font-family: 'Tactic Sans';
	font-weight: 500;
	font-size: 55px;
	line-height: 125%;
	text-transform: uppercase;
	color: #FFF;
}

.promo_descript.promo_descript_usa h1 span {
    font-size: 35px;
    line-height: 100%;
    color: #FFD300;
    text-transform: none;
}

.promo_descript.promo_descript_usa .main_title {
	text-transform: uppercase;
	font-size: 114px;
	line-height: 100%;
	color: #FFF;
}

.promo_shape {
    top: -80px;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 2 - Main Page USA --*/

.usa_baner .row {
    padding-top: 16px;
    padding-bottom: 16px;
}

.usa_baner .row:before {
	display: none;
}

.usa_baner .row:after {
	display: none;
}

.usa_baner_content h2 {
    font-size: 45px;
}

.usa_baner_content h2 span {
    font-size: 35px;
}

/*-- /Section 2 - Main Page USA --*/

/*-- Section 3 - Main Page USA --*/

.step_thumb_usa img {
    top: 9px;
}

/*-- /Section 3 - Main Page USA --*/

/*-- Section 3 - Main Page --*/

.three_cols > div:nth-child(1) {
    padding: 10px 18px 10px 0;
}

.three_cols > div:nth-child(2) {
    padding: 10px 18px 10px 15px;
}

.three_cols > div:nth-child(3) {
    padding: 10px 0 10px 18px;
}

.three_cols h3 {
	font-family: 'Onest';
	font-weight: 500;
	font-size: 30px;
	line-height: 120%;
	color: #FFF;
}

.callback_form_2 {
    padding: 29px 30px 29px 30px;
}

.callback_form_2 button {
	width: 100%;
}

.callback_form_2 p {
    padding: 0;
    font-size: 24px;
    line-height: 120%;
}

.callback_form_2 .inner {
    padding: 30px 0 31px 0;
}

/*-- /Section 3 - Main Page --*/

/*-- Section 4 - Main Page --*/

.sect_4 {
    padding: 114px 0 108px 0;
}

/*-- /Section 4 - Main Page --*/

/*-- Section 5 - Main Page --*/

.sect_5:after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(img/adv_bg_2.png);
    position: absolute;
    top: 0;
    left: 0;
    opacity: .2;
}

.sect_5 > .row {
    padding-bottom: 49px;
}

.left_article .h2_wrapp h3 {
	font-size: 40px;
	color: #E2E2E2;
}

.article_item {
    padding: 13px 0;
}

.article_item h3 {
    padding: 23px 0 15px;
}

.article_item ul li {
	padding: 2px 0 2px 25px;
	position: relative;
	font-size: 20px;
	line-height: 140%;
	color: #E2E2E2;
}

.article_item ul li:before {
	display: block;
	content: "";
	width: 10px;
	height: 10px;
	background: #FFD300;
	border-radius: 50%;
	position: absolute;
	top: 10px;
	left: 0;
}

.button_wrapp {
	display: flex;
	justify-content: center;
	padding: 28px 0 20px 0;
}

.button_wrapp .yellow_pill {
	display: inline-flex;
	min-width: 194px;
}

/*-- /Section 5 - Main Page --*/

/*-- Section 8 - Main Page --*/

.reg_box_img {
    top: -62px;
}

.reg_box .inner {
    padding: 85px 0 107px 0;
}

.reg_box .inner h2 {
    padding: 19px 0;
}

.reg_box .inner .white_pill {
    margin-top: 13px;
}

/*-- /Section 8 - Main Page --*/

/*-- Section 1 - About --*/

.article_2_descript h2 + h4 {
    padding: 31px 0 0 0;
}

.article_2_descript h4 {
    font-size: 26px;
}

.article_2_descript ul {
    padding: 2px 0;
}

.article_2_descript ul li {
    margin: 14px 0;
    padding-left: 33px;
    font-size: 20px;
}

/*-- /Section 1 - About --*/

/*-- Footer --*/

.footer_logo_wrapp {
	margin: 20px 0 50px 0;
}

.footer_logo_wrapp a {
	display: inline-block;
	vertical-align: top;
	border: 1px solid rgba(226, 226, 226, 0.2);
	border-radius: 10px;
	overflow: hidden;
}

.footer_logo_wrapp a img {
	display: block;
	width: auto;
	height: auto;
	max-width: 100%;
}

/*-- /Footer --*/

.yellow_pill {
	text-align: center;
}


.bg_text p {
    letter-spacing: 25px;
}

@media only screen and (max-width: 1280px) {

.bg_text {
    top: 175px;
}

.bg_text p {
    letter-spacing: 20px;
}

}

@media only screen and (max-width: 770px) {

.bg_text {
    top: 141px;
}

.bg_text p {
    letter-spacing: 14px;
}

}

@media only screen and (max-width: 660px) {

.bg_text {
    top: 180px;
}

}

@media only screen and (max-width: 480px) {

.bg_text p {
    letter-spacing: 5px;
}

}

@media only screen and (max-width: 470px) {

.bg_text {
    top: 170px;
}

}

